@using LanguageTranslator.Enums
@model TranslateWord

@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

<div class="text-center">
    <h1 class="display-4">Вас приветствует LanguageTranslator</h1>
</div>

<h4 class="mt-4">Вы можете добавить перевод (RU-EN)</h4>
<div class="row">
    <form asp-action="Translate" method="post" class="form-horizontal" autocomplete="on">
        <div>
            <select asp-for="Word.LanguageId" asp-items="@ViewBag.languages"></select>
            <select asp-for="Translate.LanguageId" asp-items="@ViewBag.languages"></select>
        </div>
        <div class="form-group">
            <label asp-for="Word.Text"></label>
            <div class="col-md-12">
                <input asp-for="Word.Text" class="form-control" />
                <span asp-validation-for="Word.Text" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Translate.Text"></label>
            <div class="col-md-12">
                <input asp-for="Translate.Text" class="form-control" />
                <span asp-validation-for="Translate.Text" class="text-danger"></span>
            </div>
        </div>
        <input class="btn-success" type="submit" value="Добавить" />
    </form>
</div>

<h4 class="row mt-4">Текущие переводы:</h4>
<table class="row mt-4">
    <tr><td><b>Word</b></td> <td><b>Translate</b></td></tr>
    @foreach (var translate in ViewBag.translates)
    {
        <tr>
            <td>@translate.Word.Text</td>
            <td>@translate.Translate.Text</td>
        </tr>
    }
</table>

