@using LanguageTranslator.Data;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <table class="translateTable">
            <tr><td>Word</td><td>Translate</td></tr>
            @foreach (var translate in Words.translates)
            {
                <tr>
                    <td>@translate.Word</td>
                    <td>@translate.Translate</td>
                </tr>
            }
        </table>
    </div>

